* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

#controls {
	height: 80px;
	width: 100%;
	text-align: center;
	padding: 20px;
}

#canvas_container {
	height: calc(100% - 85px);
	width: 100%;
}

canvas {
	height: 100%;
	width: 100%;
}

button {
	width: 60px;
	padding: 10px;
}
